   .user-form-container{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background: #3270a0;
    }

    .item
    {
      background-color: #fafafa;
      border-radius: 3px;
      width: 30%;
      min-height: 50%;
    }
    .item .block-heading {
      padding: 2px;
      background: #42a5f5;
    }
    .item .this-btn {
      display:block;
      margin: -26px auto;
    }

    .input-field {
      position: relative;
    }
    .input-field .form-validation-message {
      position: absolute;
      font-size: 0.8rem;
      color: #f44336;
      bottom: 2px;
      }

